<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}LayoutLab {% endblock %}</title>
    <link href="{% static '/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">


</head>
<body class="bg-gray-100">
    

    {% include "header.html" %}

        {% block content %}
        <div class="container mx-auto my-8 ">
            
        {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>  
    {% endblock %}
{% include "footer.html" %}

</body>
</html>
