{% extends "base.html" %}

{% block content %}
<div class="scrollable-area bg-dark-grey text-white">
<div class="container ct-row ct-item">
  <br><br>
  <br>
  <div class="max-w-md w-full login-form">
        <h1 class="login-heading">CS50 Final Project</h1>

        <div class="logo-xl bold" id="top-logo">LayoutLab</div>

        <h2>Smeena Aslam</h2>
        <h3 class="cool-text">saslam1023</h3>
        <h3 class="green-text">London, UK</h3>
        <h3 class="orange-text">Recorded 3 Feb 2025</h3>
        
</div>
    </div>
  </div>

{% endblock %}
